@use '../variables/variables' as *;
@use '../mixins/mixins' as *;

.welcome__toasty {
    width: 250px;
    height: 60px;
    box-shadow: $elevation-elevation5-box-shadow;
    position: fixed;
    z-index: 2;
    background-color: white;
    border-radius: 12px;
    bottom: 10%;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    left: calc(50% - 115px);
    @include allCenter();
    transition: all 0.4s;
    animation: animShow 0.8s cubic-bezier(0.375, 1.2, 0.365, 1);

    @keyframes animShow {
        from {
            bottom: -100%;
            transform: scale(0.3);
            opacity: 0;
            visibility: hidden;
        }

        to {
            bottom: 10%;
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }

    &.hidden {
        bottom: 0 !important;
        transform: scale(0.3) !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }

    .icon__container {
        width: 42px;
        height: 42px;
        @include flexStartRow;
        transform: translateX(-12px);

        .icon {
            width: 42px !important;
            height: 42px !important;
        }
    }

    .animation__text {
        transform: translateX(-12px);
        span {
            color: black !important;
        }
    }
}