@use '../variables/variables' as *;
@use '../mixins/mixins' as *;

.welcome__toasty {
    width: 230px;
    height: 65px;
    box-shadow: $elevation-elevation3-box-shadow;
    position: fixed;
    z-index: 2;
    background-color: white;
    border-radius: 15px;
    bottom: 10%;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    left: calc(50% - 115px);
    @include allCenter();
    transition: all 0.4s;
    animation: animShow 0.8s;

    @keyframes animShow {
        from {
            bottom: -100%;
            transform: scale(0.3);
            opacity: 0;
            visibility: hidden;
        }

        to {
            bottom: 10%;
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }

    &.hidden {
        bottom: 0 !important;
        transform: scale(0.3) !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }

    .animation__text {
        span {
            color: black !important;
        }
    }
}