@use '../../variables/variables' as *;
@use '../../mixins//mixins' as *;

.nestfy__messages__aside {
    width: 30%;
    min-width: 400px;
    max-width: 420px;
    height: 100%;
    border: none;
    position: relative;
    padding-left: 40px;
    padding-right: 20px;
    @include flexStartColumn;
    gap: 20px;
    transition: width 0.4s;
    box-sizing: border-box;

    .nestfy__messages__aside__header {
        width: 100%;
        height: fit-content;
        transition: width 0.4s;
        padding-top: 48px;
        position: relative;
        margin-bottom: 5px;

        .chats__tools {
            width: 100%;
            position: absolute;
            bottom: -12px;
            right: 12px;
            @include allCenter(flex-end, center);
            gap: 5px;
            z-index: 12;
            padding-right: 0;
            transition: all 0.5s;

            &.active__input {
                padding-left: 20px;
            }

            .search__container {
                width: 40px;
                min-width: 40px;
                height: 40px;
                background-color: $palette-bg-secondary;
                @include allCenter(flex-end);
                position: relative;
                border-radius: 50%;
                transition: all 0.4s cubic-bezier(0.49, 0.41, 0.52, 1.12);
                border: 1px solid none;

                &.active {
                    width: calc(100% - 40px);
                    border: 1px solid $palette-border-quarternary;
                    border-radius: 35px;
                }

                &:active {
                    transform: scale(0.94);
                }

                .input__container {
                    width: calc(100% - 40px);
                    height: 100%;
                    @include flexCenterRow;
                    position: relative;
                    border-radius: 12px 35px 35px 12px;

                    .messages__search__input {
                        width: 100%;
                        height: 100%;
                        border-radius: 12px 35px 35px 12px;
                        background-color: transparent;
                        border: none;
                        padding-right: 32px;
                    }

                    .clear__messages__search__input__value {
                        position: absolute;
                        right: 8px;
                        width: 20px;
                        height: 20px;
                        background-color: $palette-grey400;
                        @include flexCenterRow;
                        border-radius: 50%;
                        border: none;
                        cursor: pointer;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s;

                        &:hover {
                            background-color: $palette-grey500;
                        }

                        &.active {
                            opacity: 1;
                            visibility: visible;
                        }

                        .icon {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }

                .search__button {
                    position: absolute;
                    left: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 35px;
                    border: none;
                    background-color: transparent;
                    @include flexCenterRow;
                    cursor: pointer;

                    .icon__container {
                        width: 100%;
                        height: 100%;
                        @include flexCenterRow;
                        cursor: pointer;

                        &.active {
                            cursor: text;
                        }

                        .icon {
                            width: 20px;
                            height: 20px;
                            stroke: black !important;

                            path {
                                stroke: black !important;
                            }
                        }
                    }
                }
            }

            .settings__button {
                width: 40px;
                height: 40px;
                border-radius: 35px;
                border: none;
                background-color: $palette-bg-secondary;
                @include flexCenterRow;
                transition: all 0.5s 0.1s;
                position: relative;
                overflow: hidden;
                cursor: pointer;

                &:active {
                    transform: scale(0.94);
                }

                .icon__container {
                    width: 40px;
                    height: 40px;
                    @include flexCenterRow;
                    transition: all 0.5s cubic-bezier(0.49, 0.41, 0.42, 1.22);

                    &.hidden {
                        transform: translateX(100px);
                    }

                    .icon {
                        width: 20px;
                        height: 20px;
                    }
                }

                .cancle__text {
                    position: absolute;
                    left: -150%;
                    transition: all 0.5s cubic-bezier(0.49, 0.41, 0.42, 1.22);
                    font-weight: 600;
                    font-size: 15px;

                    &.active {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                &.cancle__button {
                    width: 77px;
                    border-radius: 12px;
                    background-color: transparent;

                    &:hover {
                        background-color: $palette-bg-secondary;
                    }
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 0.5px;
            height: calc(100vh - 80px);
            background-color: #F1F1F1;
            top: 0;
            right: -20px;
        }

        .messages__title__container {
            width: 100%;
            max-width: 358px;
            height: fit-content;

            .title {
                font-size: 22px;
                font-weight: 700;
                transform-origin: top;
                transform: scaleY(1.1);
                transition: all 0.4s;

                &.hidden {
                    opacity: 0;
                }
            }
        }
    }

    .messages__filters__container {
        width: 100%;
        height: fit-content;
        @include flexStartRow;
        gap: 12px;

        .option__filter {
            width: fit-content;
            height: 40px;
            border-radius: 35px;
            @include flexCenterRow;
            position: relative;
            transition: all 0.4s 0.15s cubic-bezier(0.39, 0.175, 0.265, 1.1);

            

            .filter {
                width: auto;
                height: 40px;
                @include flexCenterRow;
                border-radius: 35px;
                background-color: rgb(50, 50, 50);
                color: white;
                cursor: pointer;
                border: 1px solid transparent;
                font-weight: 600;
                transition: all 0.4s;
                gap: 3px;

                &.menu__filter {
                    min-width: fit-content;
                    width: 60px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform-origin: top left;
                    z-index: 100;
                    transition: all 0.6s;
                    transition-timing-function: cubic-bezier(0.39, 0.175, 0.265, 1.1);
                    @include flexStartColumn;
                    gap: 12px;
                    overflow: hidden;

                    &.active {
                        width: 370px !important;
                        height: 200px;
                        background-color: white;
                        box-shadow: $elevation-elevation4-box-shadow;
                        transform: translateY(50px);
                        border-radius: 30px;
                        padding: 12px;
                    }

                    .option__menu__list__container {
                        width: 100%;
                        height: calc(100% - 40px - 12px);
                        @include flexCenterColumn;
                        transform: scale(0);
                        display: none;
                        transition: all 0.4s;

                        &.active {
                            transform: scale(1);
                            display: flex;
                        }

                        .data {
                            width: 100%;
                            height: 56px;
                            @include allCenter(flex-start);
                            gap: 12px;
                            padding-left: 14px;
                            background-color: transparent;
                            border: none;
                            transition: all 0.2s;
                            border-radius: 35px;
                            cursor: pointer;

                            &:hover {
                                background-color: $palette-grey200;
                            }

                            .icon {
                                width: 27px;
                                height: 27px;

                                fill: black;
                                stroke: black;
                                stroke-width: 2px;
                            }

                            .text {
                                font-size: 17px;
                                font-weight: 500;
                            }
                        }
                    }
                }

                .option__button {
                    width: fit-content;
                    height: 40px;
                    min-height: 40px;
                    padding: 0 18px;
                    @include flexCenterRow;
                    border-radius: 35px;
                    background-color: rgb(50, 50, 50);
                    color: white;
                    cursor: pointer;
                    border: 1px solid transparent;
                    font-weight: 600;
                    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
                    gap: 3px;

                    .selected {
                        z-index: 101;
                    }

                    .icon {
                        width: 16px;
                        height: 16px;
                        transform: translateX(2px) translateY(1px);
                        transition: all 0.3s;
                        z-index: 101;

                        &.active {
                            transform: translateX(2px) translateY(0px) rotate(180deg);
                        }
                    }

                    &:hover {
                        background-color: black;
                    }
                }

                &.outline {
                    padding: 0 18px;
                    background-color: transparent;
                    border: 1px solid $palette-grey400;
                    color: black;
                    position: relative;
                    left: 0;

                    &:hover {
                        border: 1px solid black;
                    }

                    &.active {
                        border: 2px solid black;
                    }
                }
            }
        }
    }

    .chats__container {
        width: 99%;
        height: fit-content;
        @include flexCenterColumn;
        gap: 25px;
        padding: 0 20px;
        padding-top: 12px;

        .chat__message__iono__container {
            width: 100%;
            height: fit-content;
            @include flexCenterRow;

            .icon {
                width: 33px;
                height: 33px;
            }
        }

        .info__no__chats {
            width: 100%;
            height: fit-content;
            @include flexCenterColumn;
            gap: 12px;

            .title {
                font-weight: 600;
                font-size: 18px;
                text-align: center;
            }

            .desc {
                text-align: center;
                letter-spacing: -0.6px;
                color: $palette-grey800;
                line-height: 18px;
            }

            .show__all__messages {
                width: 90%;
                max-width: 180px;
                height: 42px;
                border-radius: 12px;
                border: 1px solid black;
                background-color: transparent;
                color: black;
                font-weight: 600;
                font-size: 15px;
                cursor: pointer;
                transition: all 0.4s;
                text-decoration: none;
                @include flexCenterRow;
                opacity: 0 !important;
                transform: translateY(30px) scale(0.7);
                visibility: hidden;

                &.active__no__chats {
                    opacity: 1 !important;
                    transform: translateY(12px) scale(1);
                    visibility: visible;
                }

                &:hover {
                    background-color: $palette-grey200;
                }
            }
        }
    }
}