@use '../../variables/variables' as *;
@use '../../mixins//mixins' as *;

.common__modal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    @include allCenter();

    .backdrop {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .modal__main {
        width: 480px;
        max-width: calc(100vh - 50px);
        height: 488px;
        max-height: calc(100vh - 50px);
        background-color: white;
        @include boxShadow(35px);
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &.active__verify__child {
            transition: all 0.5s ease;
            transition-delay: 0.1s;
            height: calc(230px + 50px);
        }

        &.max__height {
            transition: all 0.4s;
            height: calc(280px + 50px);

            &.active__error {
                transition: all 0.5s ease;
                height: calc(280px + 50px + 75px);

                .active__verify__content {
                    .error__toasty {
                        &.show {
                            transform: scale(1);
                            bottom: 90px;
                        }
                    }
                }
            }
        }

        &.active__error {
            transition: all 0.5s ease;
            height: calc(230px + 50px + 55px);
        }


        .modal__close__bar {
            width: 100%;
            height: 50px;
            border-radius: 35px;
            position: absolute;
            top: 0;
            left: 0;
            @include allCenter(flex-end, flex-end, row);
            padding-right: 16px;

            .title__container {
                width: 100%;
                height: 33px;
                @include flexCenterRow;

                .title {
                    font-size: 16px;
                    font-weight: 600;
                    transform: scaleY(1.1);
                    transform-origin: top;
                }
            }


            .modal__close__bar__button {
                width: 33px;
                height: 33px;
                @include allCenter();
                border-radius: 50%;
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: all 0.4s;
                position: absolute;
                right: 16px;

                .container {
                    width: 100%;
                    height: 100%;
                    @include allCenter();

                    .icon {
                        width: 18px;
                        height: 18px;
                        fill: black;
                    }
                }

                &:hover {
                    background-color: $modal-close-button-background-color;
                }
            }
        }

        .content {
            width: 100%;
            height: calc(100% - 60px);
            @include allCenter(flex-start, center, column);
            gap: 12px;
            border-radius: 35px;
            padding: 0 0;
            transition: all 0.6s, opacity 0.4s;
            position: absolute;
            left: 0;
            top: 60px;
        }
    }
}