.nestfy__main {
    flex: 1;
    width: 100%;
    min-height: 2000px;
    height: fit-content;
    padding-top: 80px;
    transition: all 0.4s;

    &.main__page{
        padding-top: 200px;
    }

    &.profile__page{
        padding-top: 96px;
    }
}