// @media only screen and (max-height: 1400px) {
//     .header {
//         &.scroll {
//             height: 96px;
//         }

//         .header__section__first {
//             &.scroll {
//                 height: 96px;
//             }

//             .header__section__first__content {
//                 &.scroll {
//                     height: 96px;

//                     .header__section__tab__bar__tools {
//                         .header__section__tab__bar__tools__item {
//                             &:nth-child(2) {
//                                 top: 29px;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

@media only screen and (max-height: 800px) {
    .header {
        .header__search__form__container {
            .option__container {
                height: calc(100vh - 200px) !important;
                max-height: none;

                &.middle__active__tab {
                    padding-bottom: 30px;
                }

                .option__tab__content__calendar {
                    overflow-y: auto;
                }
            }
        }
    }
}