$line-color: #EBEBEB;
$error-color: #C13515;

// Header varibales --------------------------------------------------------------------------------------

$header-backgoround-color: #FAFAFA;
$header-bottom-line-color: #EBEBEB;

// Header varibales --------------------------------------------------------------------------------------

// Modals varibales --------------------------------------------------------------------------------------

$modal-backdrop-background-color: #222222;
$modal-close-button-background-color: #F7F7F7;
$line-color: #afafaf;

// Modals varibales --------------------------------------------------------------------------------------
